<a href="https://colab.research.google.com/github/DiegoDuran03/1/blob/main/Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling

In [ ]:
path1 = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv(path1)
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [ ]:
path2 = '/content/drive/MyDrive/datasets/AccidentsFull.csv'

In [ ]:
df2 = pd.read_csv(path2)
df2.head()

,HOUR_I_R,ALCHL_I,ALIGN_I,STRATUM_R,WRK_ZONE,WKDY_I_R,INT_HWY,LGTCON_I_R,MANCOL_I_R,PED_ACC_R,...,SUR_COND,TRAF_CON_R,TRAF_WAY,VEH_INVL,WEATHER_R,INJURY_CRASH,NO_INJ_I,PRPTYDMG_CRASH,FATALITIES,MAX_SEV_IR
0,0,2,2,1,0,1,0,3,0,0,...,4,0,3,1,1,1,1,0,0,1
1,1,2,1,0,0,1,1,3,2,0,...,4,0,3,2,2,0,0,1,0,0
2,1,2,1,0,0,1,0,3,2,0,...,4,1,2,2,2,0,0,1,0,0
3,1,2,1,1,0,0,0,3,2,0,...,4,1,2,2,1,0,0,1,0,0
4,1,1,1,0,0,1,0,3,2,0,...,4,0,2,3,1,0,0,1,0,0

In [ ]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [ ]:
cols = df.columns

In [ ]:
type(cols)

pandas.core.indexes.base.Index

In [ ]:
df['Height']

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [ ]:
df.Height

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [ ]:
df[['Height']]

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00

In [ ]:
type(df[['Height']])

pandas.core.frame.DataFrame

In [ ]:
df.Age

0     56
1     26
2     33
3     39
4     27
5     24
6     28
7     22
8     29
9     33
10    30
11    28
12    25
13    23
14    31
15    26
16    26
17    27
18    23
19    24
20    23
21    29
22    25
23    26
24    23
Name: Age, dtype: int64

In [ ]:
type(df[['Age']])

pandas.core.frame.DataFrame

In [ ]:
df[['Height','Age']]

    Height  Age
0    62.00   56
1    62.00   26
2    66.00   33
3    64.00   39
4    73.00   27
5    75.00   24
6    75.00   28
7    65.00   22
8    74.00   29
9    63.00   33
10   69.50   30
11   62.75   28
12   65.00   25
13   61.50   23
14   73.00   31
15   71.00   26
16   61.50   26
17   66.00   27
18   70.00   23
19   68.00   24
20   69.00   23
21   71.00   29
22   70.00   25
23   69.00   26
24   65.00   23

In [ ]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [ ]:
df[['Age','Gender','Glasses','Height','Wingspan','CWDistance']]

    Age Gender Glasses  Height  Wingspan  CWDistance
0    56      F       Y   62.00      61.0          79
1    26      F       Y   62.00      60.0          70
2    33      F       Y   66.00      64.0          85
3    39      F       N   64.00      63.0          87
4    27      M       N   73.00      75.0          72
5    24      M       N   75.00      71.0          81
6    28      M       N   75.00      76.0         107
7    22      F       N   65.00      62.0          98
8    29      M       Y   74.00      73.0         106
9    33      F       Y   63.00      60.0          65
10   30      M       Y   69.50      66.0          96
11   28      F       Y   62.75      58.0          79
12   25      F       Y   65.00      64.5          92
13   23      F       N   61.50      57.5          66
14   31      M       Y   73.00      74.0          72
15   26      M       Y   71.00      72.0         115
16   26      F       N   61.50      59.5          90
17   27      M       N   66.00      66.0          74
18   23      M       Y   70.00      69.0          64
19   24      F       Y   68.00      66.0          85
20   23      M       Y   69.00      67.0          66
21   29      M       N   71.00      70.0         101
22   25      M       N   70.00      68.0          82
23   26      M       N   69.00      71.0          63
24   23      F       Y   65.00      63.0          67

In [ ]:
favs = ['Age','Gender','Glasses','Height','Wingspan','CWDistance']
ndf = df[favs]
ndf.head()

   Age Gender Glasses  Height  Wingspan  CWDistance
0   56      F       Y    62.0      61.0          79
1   26      F       Y    62.0      60.0          70
2   33      F       Y    66.0      64.0          85
3   39      F       N    64.0      63.0          87
4   27      M       N    73.0      75.0          72

In [ ]:
ndf.describe

<bound method NDFrame.describe of     Age Gender Glasses  Height  Wingspan  CWDistance
0    56      F       Y   62.00      61.0          79
1    26      F       Y   62.00      60.0          70
2    33      F       Y   66.00      64.0          85
3    39      F       N   64.00      63.0          87
4    27      M       N   73.00      75.0          72
5    24      M       N   75.00      71.0          81
6    28      M       N   75.00      76.0         107
7    22      F       N   65.00      62.0          98
8    29      M       Y   74.00      73.0         106
9    33      F       Y   63.00      60.0          65
10   30      M       Y   69.50      66.0          96
11   28      F       Y   62.75      58.0          79
12   25      F       Y   65.00      64.5          92
13   23      F       N   61.50      57.5          66
14   31      M       Y   73.00      74.0          72
15   26      M       Y   71.00      72.0         115
16   26      F       N   61.50      59.5          90
17   27      M       N   66.00      66.0          74
18   23      M       Y   70.00      69.0          64
19   24      F       Y   68.00      66.0          85
20   23      M       Y   69.00      67.0          66
21   29      M       N   71.00      70.0         101
22   25      M       N   70.00      68.0          82
23   26      M       N   69.00      71.0          63
24   23      F       Y   65.00      63.0          67>

In [ ]:
ndf.describe()

             Age     Height   Wingspan  CWDistance
count  25.000000  25.000000  25.000000   25.000000
mean   28.240000  67.650000  66.260000   82.480000
std     6.989754   4.431187   5.492647   15.058552
min    22.000000  61.500000  57.500000   63.000000
25%    24.000000  64.000000  62.000000   70.000000
50%    26.000000  68.000000  66.000000   81.000000
75%    29.000000  71.000000  71.000000   92.000000
max    56.000000  75.000000  76.000000  115.000000

In [ ]:
ndf.Glasses.unique()

array(['Y', 'N'], dtype=object)

In [ ]:
df.groupby(['Glasses','Gender']).size()

Glasses  Gender
N        F         4
         M         7
Y        F         8
         M         6
dtype: int64

In [ ]:
favsGG=['Glasses','Gender']

In [ ]:
ndf.groupby(favsGG).size()

Glasses  Gender
N        F         4
         M         7
Y        F         8
         M         6
dtype: int64

In [ ]:
ndf[favsGG].value_counts()

Glasses  Gender
Y        F         8
N        M         7
Y        M         6
N        F         4
Name: count, dtype: int64